.pokemon-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: [col1-start] 100px [col2-start] 100px [col3-start] 100px;
    grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
    background-color: #fff;
    color: #444;
}